.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  padding: 11px;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.cardSelected {
  border-color: rgba(78, 47, 210, 0.7);
}

.badgeContainer {
  position: absolute;
  left: 11px;
  top: 11px;
  z-index: 10;
}

.content {
  display: flex;
  gap: 19px;
  height: 100%;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 137px;
  width: 101px;
  padding: 0.5rem;
  flex-shrink: 0;
}

@media (max-width: 1023px) {
  .content {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .imageContainer {
    width: 100%;
    height: 140px;
    padding: 1rem;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.infoContainer {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 0.5rem;
}

@media (max-width: 1023px) {
  .title {
    font-size: 1.125rem;
  }
}

.description {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba(31, 31, 31, 0.75);
  margin-bottom: 0.625rem;
}

.link {
  color: #4f35cd;
  text-decoration: underline;
  cursor: pointer;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.625rem;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

@media (min-width: 1024px) {
  .priceContainer {
    flex-direction: column;
    gap: 0;
  }
}

.comparePrice {
  color: var(--color-discount-red);
  text-decoration: line-through;
  margin-bottom: 3px;
}

.price {
  color: #575757;
  margin: 0;
}
