.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.containerMini {
  gap: 12px;

  .button {
    background-color: #fff;
    border-color: #fff;

    &:disabled {
      background-color: #f1f1f2;
      border-color: #ced6de;
    }
  }

  .value {
    font-size: 14px;
    width: 8px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.125rem;
  border: 2px solid #f0f4f7;
  background-color: #f0f4f7;
  transition:
    border-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  cursor: pointer;
  padding: 0;

  &:disabled {
    border-color: #e6ebf0;
    background-color: #fff;
    cursor: not-allowed;
  }
}

.value {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #0b0d10;
}

.iconDisabled {
  opacity: 0.5;
}
