@import "tailwindcss";

@theme {
  --color-accent: #4e2fd2;
  --color-link: #0000ee;
  --color-paragraph: rgba(31, 31, 31, 0.7);
  --color-discount-red: #d8392b;
  --color-highlight-green: #0aa288;
  --color-highlight-green-alt: #1df0bb;
  --color-light-blue-bg: #edf4ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
